extends layout

block content
    h1 Hello world
    div
        img(src=url_for("/imgs/github-octocat.png") alt="github-octocat" width=400)

block scripts
  // all .js
  script(src=url_for("/js/client.js"))
